*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
}
#container{
    min-height: 200vh;
    display:inline-block;
    /* height: auto; */
    
}
.part1{
    height:70vh;
    width: 100%;
    /* height: auto; */
    /* background-color:orange; */
    /* background-image: url(/images/images2/backgrounds/h_img.jpg); */
}
.welcome{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 350px;
    font-size: 36px;
}
.part2{
    height:55vh;
    background-color:whitesmoke;
    display: block;
}

.text h2{
    display: flex;
    justify-content: center;
}
.text p{
    display: flex;
    justify-content: center;
    line-height: 35px;
}

.part3{
    height:25vh;
    background-color:yellowgreen;
    
}
.part4{
    background: url(/images/images2/c_image.jpg);
    height:25vh;
    background-color:green;
}
h3{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.part5{
    background: url(/images/images2/c_image.jpg);
    
}
.row {
    display: flex;
    margin:75px 200px;
    
  }
  
  .column {
    flex: 18%;
    padding: 5px;
  }
  .row g-2{
      margin-left: 75px;
  }
  h4{
      color:white;
      margin-top: 45px;
      text-align: center;
  }
  .form-control{
      background-color: transparent;
  }
  .col-md{
      background-color: transparent;
  }
  input[type=text]{
      width: 75%;
      color:white;
      background-color: transparent;
  }
  .social-icons{
      display: flex;
      justify-content: center;
      margin-top: 40px;
  }
  .last-text{
      text-align: center;
      margin-top: 50px;
  }
  .three-icons{
      display:flex;
      justify-content: center;
      justify-content: space-between;
      margin: 75px 200px;
   
     
  }
  .logo{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
